#info{
	background-color: lightgrey;
	min-height: 25px;
	font-size:15px; 
	padding-top: 3px;

	ul li{
		list-style: none;
		float: left;
		margin-right: 10px;
	}

}
#header{
	margin-top: 1%;
	min-height:150px;
	border-bottom: 1px solid grey;

	.logoP{
		display: flex;
		height: 120px;
		background-color: grey;
		font-size: 50px;
		p{
			margin: auto;
		}
	}
	ul{
		display: flex;
		flex-flow: row wrap;

		li{
			margin: auto;
		}
	}
	button{
		border-radius: 0;
		padding:15px 50px; 
	}

	.bordered{
		margin-top: 1.5%;
		width: 100%;
		height: 50px;
		border: 1px solid lightgrey;
		display: flex;
		div{
			margin: auto;
			&:nth-child(2),&:nth-child(3){
				border-left: 1px solid lightgrey;
			}

		}
		input{
			border:0;
		}
	}
}

#news{
	padding: 50px 0;
	.notifications{
		width: 400px;
		margin-bottom: 2.5%;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-around;
		
	}

	.leftPart{
		li{
			padding: 15px 20px;	
			margin-bottom: 2%;
			border: 1px solid lightblue;

			&:hover{
				color: white;
				background-color: lightblue;
				cursor: pointer;
			}
		}
	}
	.rightP{

		.notiDivs{
			div div {
				padding: 50px 70px;
				border: 1px solid lightblue;
				&:hover{
					color: white;
					background-color: lightblue;
					cursor: pointer;
				}
			}
		}
		.searhing{
			margin-top:2%; 
		}
		.newsPart{
			margin-top: 2%;
			.forImg{
				height: 300px;
				overflow: hidden;
				img{
    				width: 100%;
				}
			}
		}
		li{
			line-height: 2em;
		}
		.laterSeen{
			display: none;
		}
		.parentDiv{
				border: 1px solid lightgrey;
				.hovering {
						display: flex;
						justify-content:space-between;
						li{
						float: left;
					}
				}
				&:hover .laterSeen{
					display: block;
				}
		}
	}

}


@media (max-width: 992px) {
 	#news .notifications li{
  		width: 100%;
  		margin-left: 5%;
	}
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	// font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}